In [1]:
import pandas as pd

## 사망자수

In [2]:
death = pd.read_csv("./rawdata/사망원인_104항목__성_시도별_사망자수_20221222130617.csv", encoding="cp949")

In [3]:
death.head()

  사망원인별(104항목) 성별    시도별    2021
0            계  계     전국  317680
1            계  계  서울특별시   48798
2            계  계  부산광역시   23531
3            계  계  대구광역시   14560
4            계  계  인천광역시   16493

In [4]:
death["시도별"].unique()

array(['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주도'], dtype=object)

In [5]:
death["시도별"].replace({"제주도": "제주특별자치도"}, inplace=True)

In [6]:
death["사망원인별(104항목)"].unique()

array(['계', '특정 감염성 및 기생충성 질환 (A00-B99, U07.1, U07.2, U10)',
       '신생물 (C00-D48)', '혈액 및 조혈기관질환과 면역메커니즘을 침범하는 특정장애 (D50-D89) (명)',
       '내분비, 영양 및 대사 질환 (E00-E88)', '정신 및 행동장애 (F01-F99)',
       '신경계통의 질환 (G00-G98)', '눈 및 눈부속기의 질환 (H00-H57)',
       '귀 및 유돌의 질환 (H60-H93)', '순환계통 질환 (I00-I99)',
       '호흡계통의 질환 (J00-J98,U04)', '소화계통의 질환 (K00-K92)',
       '피부 및 피하조직의 질환 (L00-L98)', '근골격계통 및 결합 조직의 질환 (M00-M99)',
       '비뇨생식계통의 질환 (N00-N98)', '임신, 출산 및 산후기 (O00-O99)',
       '출생전후기에 기원한 특정병태 (P00-P96)', '선천 기형, 변형 및 염색체 이상 (Q00-Q99)',
       '달리 분류되지 않은 증상, 징후 (R00-R99)', '질병이환 및 사망의 외인 (V01-Y89, U12)'],
      dtype=object)

In [7]:
death_temp = death[death["사망원인별(104항목)"]=="순환계통 질환 (I00-I99)"].groupby("시도별").sum(numeric_only=True)
death_temp

           2021
시도별
강원도        4900
경기도       25708
경상남도      10312
경상북도       9880
광주광역시      2712
대구광역시      6008
대전광역시      2266
부산광역시     10824
서울특별시     18700
세종특별자치시     490
울산광역시      2634
인천광역시      6034
전국       124740
전라남도       6864
전라북도       5670
제주특별자치도    1520
충청남도       5864
충청북도       4354

## 심장장애인수

In [8]:
disability = pd.read_csv("./rawdata/시도별_장애유형별_성별_등록장애인수_20221222130557.csv", encoding="cp949", skiprows=1)

In [9]:
disability.head()

,시도별,합계,합계.1,합계.2,지체,지체.1,지체.2,시각,시각.1,시각.2,...,간.2,안면,안면.1,안면.2,장루ㆍ요루,장루ㆍ요루.1,장루ㆍ요루.2,뇌전증,뇌전증.1,뇌전증.2
0,시도별,계,남자,여자,계,남자,여자,계,남자,여자,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
1,전국,2644700,1528280,1116420,1191462,691136,500326,251620,149321,102299,...,4314,2712,1582,1130,16012,9856,6156,7077,3866,3211
2,서울특별시,392123,227302,164821,167986,94721,73265,41220,24740,16480,...,828,381,210,171,2959,1830,1129,1248,687,561
3,부산광역시,176451,103824,72627,77016,45742,31274,17874,10545,7329,...,262,228,139,89,1134,698,436,552,316,236
4,대구광역시,127282,73955,53327,50611,30463,20148,11874,7044,4830,...,217,143,85,58,625,364,261,336,187,149

In [10]:
disability.columns

Index(['시도별', '합계', '합계.1', '합계.2', '지체', '지체.1', '지체.2', '시각', '시각.1', '시각.2',
       '청각', '청각.1', '청각.2', '언어', '언어.1', '언어.2', '지적', '지적.1', '지적.2', '뇌병변',
       '뇌병변.1', '뇌병변.2', '자폐성', '자폐성.1', '자폐성.2', '정신', '정신.1', '정신.2', '신장',
       '신장.1', '신장.2', '심장', '심장.1', '심장.2', '호흡기', '호흡기.1', '호흡기.2', '간',
       '간.1', '간.2', '안면', '안면.1', '안면.2', '장루ㆍ요루', '장루ㆍ요루.1', '장루ㆍ요루.2',
       '뇌전증', '뇌전증.1', '뇌전증.2'],
      dtype='object')

In [11]:
disability[["시도별", "심장", "심장.1", "심장.2"]]

        시도별    심장  심장.1  심장.2
0       시도별     계    남자    여자
1        전국  5166  3340  1826
2     서울특별시  1008   654   354
3     부산광역시   455   301   154
4     대구광역시   239   154    85
5     인천광역시   262   161   101
6     광주광역시   140   100    40
7     대전광역시   111    67    44
8     울산광역시   174   105    69
9   세종특별자치시    23    16     7
10      경기도  1295   847   448
11      강원도   121    81    40
12     충청북도   143    91    52
13     충청남도   202   120    82
14     전라북도   155   102    53
15     전라남도   184   120    64
16     경상북도   311   202   109
17     경상남도   268   164   104
18  제주특별자치도    75    55    20

In [12]:
disability_temp = disability[["시도별", "심장"]]
disability_temp.head()

     시도별    심장
0    시도별     계
1     전국  5166
2  서울특별시  1008
3  부산광역시   455
4  대구광역시   239

## 인구

In [15]:
population = pd.read_csv("./rawdata/주민등록인구_시도_시_군_구__20221222130517.csv", encoding="cp949", skiprows=1)

In [16]:
population.head()

   행정구역별     계 (명)     남 (명)     여 (명)
0     전국  51638809  25746684  25892125
1  서울특별시   9509458   4618040   4891418
2  부산광역시   3350380   1639044   1711336
3  대구광역시   2385412   1175632   1209780
4  인천광역시   2948375   1476373   1472002

In [17]:
population.행정구역별.unique()

array(['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'], dtype=object)

In [19]:
population_temp = population[["행정구역별", "계 (명)"]]
population_temp.head()

   행정구역별     계 (명)
0     전국  51638809
1  서울특별시   9509458
2  부산광역시   3350380
3  대구광역시   2385412
4  인천광역시   2948375

## 결합

In [28]:
data = pd.merge(left=death_temp, right=disability_temp, how="outer", on="시도별")

In [29]:
data = pd.merge(left=data, right=population_temp, how="outer", left_on="시도별", right_on="행정구역별")

In [30]:
data

        시도별      2021    심장    행정구역별       계 (명)
0       강원도    4900.0   121      강원도   1538492.0
1       경기도   25708.0  1295      경기도  13565450.0
2      경상남도   10312.0   268     경상남도   3314183.0
3      경상북도    9880.0   311     경상북도   2626609.0
4     광주광역시    2712.0   140    광주광역시   1441611.0
5     대구광역시    6008.0   239    대구광역시   2385412.0
6     대전광역시    2266.0   111    대전광역시   1452251.0
7     부산광역시   10824.0   455    부산광역시   3350380.0
8     서울특별시   18700.0  1008    서울특별시   9509458.0
9   세종특별자치시     490.0    23  세종특별자치시    371895.0
10    울산광역시    2634.0   174    울산광역시   1121592.0
11    인천광역시    6034.0   262    인천광역시   2948375.0
12       전국  124740.0  5166       전국  51638809.0
13     전라남도    6864.0   184     전라남도   1832803.0
14     전라북도    5670.0   155     전라북도   1786855.0
15  제주특별자치도    1520.0    75  제주특별자치도    676759.0
16     충청남도    5864.0   202     충청남도   2119257.0
17     충청북도    4354.0   143     충청북도   1597427.0
18      시도별       NaN     계      NaN         NaN

In [33]:
data.행정구역별 == data.시도별

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
dtype: bool

In [16]:
data.시도별.unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전국', '전라남도', '전라북도',
       '제주특별자치도', '충청남도', '충청북도', '시도별'], dtype=object)

In [34]:
data.drop([12, 18], axis=0, inplace=True)

In [36]:
data.drop(["행정구역별"], axis=1, inplace=True)

In [37]:
data

        시도별     2021    심장       계 (명)
0       강원도   4900.0   121   1538492.0
1       경기도  25708.0  1295  13565450.0
2      경상남도  10312.0   268   3314183.0
3      경상북도   9880.0   311   2626609.0
4     광주광역시   2712.0   140   1441611.0
5     대구광역시   6008.0   239   2385412.0
6     대전광역시   2266.0   111   1452251.0
7     부산광역시  10824.0   455   3350380.0
8     서울특별시  18700.0  1008   9509458.0
9   세종특별자치시    490.0    23    371895.0
10    울산광역시   2634.0   174   1121592.0
11    인천광역시   6034.0   262   2948375.0
13     전라남도   6864.0   184   1832803.0
14     전라북도   5670.0   155   1786855.0
15  제주특별자치도   1520.0    75    676759.0
16     충청남도   5864.0   202   2119257.0
17     충청북도   4354.0   143   1597427.0

In [42]:
data.columns = ["지역", "심장질환사망자", "심장장애", "주민등록인구"]

In [43]:
data

         지역  심장질환사망자  심장장애      주민등록인구
0       강원도   4900.0   121   1538492.0
1       경기도  25708.0  1295  13565450.0
2      경상남도  10312.0   268   3314183.0
3      경상북도   9880.0   311   2626609.0
4     광주광역시   2712.0   140   1441611.0
5     대구광역시   6008.0   239   2385412.0
6     대전광역시   2266.0   111   1452251.0
7     부산광역시  10824.0   455   3350380.0
8     서울특별시  18700.0  1008   9509458.0
9   세종특별자치시    490.0    23    371895.0
10    울산광역시   2634.0   174   1121592.0
11    인천광역시   6034.0   262   2948375.0
13     전라남도   6864.0   184   1832803.0
14     전라북도   5670.0   155   1786855.0
15  제주특별자치도   1520.0    75    676759.0
16     충청남도   5864.0   202   2119257.0
17     충청북도   4354.0   143   1597427.0

In [44]:
data.to_csv("./temp/지역별 심장질환.csv", encoding="cp949", index=False)